[submodule "Bin2DecDart"]
	path = Bin2DecDart
	url = https://github.com/TheNaFeR02/Bin2DecDart
[submodule "UIBasicDart"]
	path = UIBasicDart
	url = https://github.com/TheNaFeR02/UIBasicDart.git
[submodule "GetXControllerFlutter"]
	path = GetXControllerFlutter
	url = https://github.com/TheNaFeR02/GetXControllerFlutter.git
[submodule "NavigationFlutter"]
	path = NavigationFlutter
	url = https://github.com/TheNaFeR02/NavigationFlutter.git
[submodule "StatelessWidget"]
	path = StatelessWidget
	url = https://github.com/TheNaFeR02/StatelessWidget.git
[submodule "BasicInitStatefulWidget"]
	path = BasicInitStatefulWidget
	url = https://github.com/TheNaFeR02/BasicInitStatefulWidget.git
[submodule "StatefulWidget"]
	path = StatefulWidget
	url = https://github.com/TheNaFeR02/StatefulWidget.git
[submodule "WidgetAndIntegrationTests"]
	path = WidgetAndIntegrationTests
	url = https://github.com/TheNaFeR02/WidgetAndIntegrationTests.git
